@import url(//fonts.googleapis.com/css?family=Lato:300:400);

a {
  text-decoration: none;
}
.logo {
  display: flex;
  width: 150px;
  height: 150px;

  border-radius: 100%;
  box-shadow: 1px 2px 8px rgb(59, 0, 221);
  margin: 5% auto 5% auto;
   
  padding: auto;
}



label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  font-weight: bold;
 
}



#forgot-pass {
  color: rgb(59, 0, 221);
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  margin-bottom: 30px;
  text-align: right;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: auto;
  margin: 6rem auto 8.1rem auto;
  width: 380px;
 
}
#card-content {
  padding: 12px 44px ;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  color:rgb(59, 0, 221);
  letter-spacing: 0.5px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup, #log {
  color:rgb(59, 0, 221);
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  --glow-color: rgb(235, 244, 250);
  --glow-spread-color: rgb(66, 139, 228);
  --enhanced-glow-color: rgb(221, 157, 96);
  --btn-color: rgb(12, 105, 226);
  border: .20em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}
#submit-btn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
#submit-btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
}

 #submit-btn:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
  0 0 2.5em 2em var(--glow-spread-color),
  inset 0 0 .5em .25em var(--glow-color);
 }

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #f7b37b, #ff4e08);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #f7b37b, #ff4e08);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}



.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
  
}


h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}


.inner-header {
  height:40vh;
  width:100%;
  margin: 0;
  padding: 0;

}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
 
}

.waves {
  position:relative;
  width: 100%;
  height:10vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.100,.12,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}


body{
  
  background-color: #0a3186;
  background-image: url('/assets/imgs/fondo.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: repeat;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

